import data from '../../../Node/src/api'
import React, { Component } from 'react'
import getData from '../../../Node/src/api/api'

export default class Data extends Component {
  render() {
    return (
      <div>{getData}</div>
    )
  }
}
